<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333103814683-6uvbn5fqp2f2qp5t7rlk7t20hkg9bt3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333103814683-6uvbn5fqp2f2qp5t7rlk7t20hkg9bt3j</string>
	<key>API_KEY</key>
	<string>AIzaSyCQsJWRs9YPyZvtOa75zPwO22HWXnkHbLA</string>
	<key>GCM_SENDER_ID</key>
	<string>333103814683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rastreoPaquetesApp</string>
	<key>PROJECT_ID</key>
	<string>ubitec-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ubitec-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333103814683:ios:341dc239356d96753fc0be</string>
</dict>
</plist>